In [8]:
import pandas as pd
import textdistance

In [5]:
df = pd.read_csv('dataset/text_distance/dataset.csv')

In [6]:
df

                      Query                                 Key
0                   ชัชชาติ  รองศาสตราจารย์ ชัชชาติ สิทธิพันธุ์
1       ชัชชาติ สิทธิพันธุ์  รองศาสตราจารย์ ชัชชาติ สิทธิพันธุ์
2            ผู้ว่าฯชัชชาติ  รองศาสตราจารย์ ชัชชาติ สิทธิพันธุ์
3       ชัชชาติ สิทธิพันธุ์  รองศาสตราจารย์ ชัชชาติ สิทธิพันธุ์
4              เบิร์ด ธงไชย                    ธงไชย แมคอินไตย์
5           พี่เบิร์ด ธงไชย                    ธงไชย แมคอินไตย์
6   เบิร์ด ธงไชย แมคอินไตย์                    ธงไชย แมคอินไตย์
7              เบิร์ด-ธงไชย                    ธงไชย แมคอินไตย์
8       CP All (ซีพี ออลล์)    บริษัท ซีพี ออลล์ จํากัด (มหาชน)
9               ซีพี ออลล์        CP ALL PUBLIC COMPANY LIMITED
10                    CPALL       CP ALL PUBLIC COMPANY LIMITED
11                   cp all       CP ALL PUBLIC COMPANY LIMITED
12               CP All PCL       CP ALL PUBLIC COMPANY LIMITED
13               บริษัท ปตท           บริษัท ปตท. จำกัด (มหาชน)
14                     ปตท.           บริษัท ปตท. จำกัด (มหาชน)
15                      PTT         PTT Public Company Limited
16                 PTT PCL          PTT Public Company Limited
17                      ปตท           บริษัท ปตท. จำกัด (มหาชน)

In [33]:
textdistance.jaro_winkler.distance('เบิร์ด ธงไชย', 'รองศาสตราจารย์ ชัชชาติ สิทธิพันธุ์')

0.5522875816993464

In [36]:
textdistance.jaro_winkler.distance('เบิร์ด ธงไชย', 'เบิร์ด ธงไชยdddd')

0.050000000000000044

In [34]:
textdistance.jaro_winkler.distance('เบิร์ด ธงไชย', 'บริษัท')

0.5277777777777779

In [7]:
! pip install textdistance

Collecting textdistance
  Downloading textdistance-4.5.0-py3-none-any.whl (31 kB)
Installing collected packages: textdistance
Successfully installed textdistance-4.5.0